# Build outputs
/backend/target/
/frontend/dist/
/frontend/dist-electron/
/frontend/out/
/frontend/.vite/
/frontend/release/

# Dependencies
/frontend/node_modules/
/backend/node_modules/

# Environment files
*.env
*.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor settings
.vscode/
.idea/
.DS_Store
Thumbs.db

# Generated artifacts
*.tsbuildinfo
